{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-9" id="chart" style="height: 250px;"></div>
    <div class="col-md-3">
        <div class="form-group">
            <input type="text" class="form-control" name="video_id" value="RWaV0l2v2oU" />
        </div>
        <button class="btn btn-primary btn-block" id="update">Update</button>

        <hr>

        <div class="form-group">
            <input type="number" min="1" value="1" class="form-control" name="filter" />
        </div>
        <button class="btn btn-default btn-block" id="filter">Filter</button>

        <ul>
            <li>RNUHHRrWkHU</li>
            <li>RWaV0l2v2oU</li>
        </ul>
    </div>
</div>

<div class="row">
    <ol>
        {% if comments %}
            {% for comment in comments %}
            <li>{{ comment }}</li>
            {% endfor %}
        {% endif %}
    </ol>
</div>

{% endblock %}

{% block script %}
<script>
    $(function() {
        var data = [];
        {% for i in analytics %}
        data.push({ keyword: '{{ i[0] }}', value: '{{ i[1] }}' })
        {% endfor %}

        $('#update').click(function(e) {
            var video_id = $('input[name="video_id"]').val();
            location.href = "{{ url_for('comment') }}/" + video_id;
        });

        var chart = new Morris.Bar({
            element: 'chart',
            data: [],
            xkey: 'keyword',
            ykeys: ['value'],
            labels: ['Value']
        });

        chart.on('click', function(i, row) {
            var google_trend = 'https://trends.google.com/trends/explore?q=';
            window.open(google_trend + row.keyword, '_blank');
        })

        function updateFilter(filter) {
            var filtered_data = [];

            for(var index in data){
                var value = data[index]['value'];
                if (parseInt(value) >= filter) {
                    filtered_data.push(data[index]);
                }
            }

            chart.setData(filtered_data);
        }

        $('#filter').click(function(e) {
            var filter = $('input[name="filter"]').val();
            updateFilter(filter);
        });

        updateFilter({{ max_count }});

    });
</script>
{% endblock %}
